@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a la aplicación de Universidad</h1>
    <p class="lead">En ella podrá gestionar los Alumnos, Salones, Materias y Notas</p>
</div>
