@model Universidad.Models.Profesores

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar profesor</h2>

<h3>¿Está seguro de eliminar profesor? Si tiene materias asociadas no será posible eliminar. Por favor validar</h3>
<div>
    <h4>Profesores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
